ion-content.background{
  //--ion-background-color:blue;
  --background:url(../../image/bg.jpeg)
}

#container {
  text-align: center;
  background-color: #0b657c;
  position: absolute;
  left: 300px;
  right: 300px;
  top: 55%;
  transform: translateY(-50%);
}

#container strong {
  background-color: #0b657c;
  font-size: 25px;
  line-height: 26px;

}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
} 
